*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}


header{
	height: 80px;
	width: 100%;
	background: #19BC9D;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	border-bottom: 1px solid white;

}


.menu{
	background: #6EE8C7;
	width: 0;
	height: 100vh;
	position: fixed;
	top:80px;
	left: 0px;
	transition: all 500ms;
	overflow: hidden;
	border-right: 1px solid white;
	
}

.menu li{
	height: 60px;
	letter-spacing: 2px;
	padding-left: 20px;
	cursor: pointer;
	padding-top: 18px;
	transition: 300ms;
	display: block;
	width: 200px;
}
header input{
	display: none;
}

i{
	margin-right: 15px;
}

.container-all h3{
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-weight: 100px;
}

header label{
	top: 20px;
	position: absolute;
	width: 200px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}


.menu li:hover{
	background: #209475;
	border-bottom: 1px solid white;
}

.container-all{
	background: #11D39F;
	height: 600px;
	width: 90%;
	margin: auto;
	margin-top:90px;
	border: 1px solid white;
}
main{
	background: #029D74;
	padding-top: 10px;
}

#check:checked ~ .menu{
	width: 200px;
}


/*Estilos para los iconos */

.icons{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding:5px;	
	position: fixed;	
	z-index: 10;
	right: 0px;
	margin-right:3px;
	cursor: pointer;
	border: 2px solid white;

}

.eliminar{
	background: #F11202;
	top: 160px;

}

.save{
	background: #1CF038;
	top: 100px;

}

.icons i{
	font-size: 25px;
	color: white;
}



